In [12]:
from google.colab import drive
drive.mount('/content/drive/', force_remount = True)
project_root_dir = '/content/drive/My Drive/CS_229_project/'

Mounted at /content/drive/

In [13]:
import pickle
import os
import pandas as pd
import numpy as np

with open(os.path.join(project_root_dir, 'img_data', 'fileToSite.txt'), "rb") as fp:
  labels = pickle.load(fp)

with open(os.path.join(project_root_dir, 'img_data', 'file2siteWClouds.txt'), "rb") as fp:
  cloudy_labels = pickle.load(fp)

labels

           id                     file    site strip_id  cloud_cover
0     59_5001  20190405_185026_37_106c  5001.0  2260937         0.18
1     59_5001     20181014_180625_1014  5001.0  1767245         0.87
2     59_5001  20190902_184228_93_1067  5001.0  2646834         0.18
3     59_5001     20181007_180623_1005  5001.0  1751570         0.19
4     59_5001  20200517_182913_87_1067  5001.0  3405714         0.12
...       ...                      ...     ...      ...          ...
7197  83_4003     20170615_175821_1010     NaN      NaN         0.30
7198  83_4003  20190516_185741_85_106e     NaN      NaN         0.30
7199  83_4003     20191102_181448_0e20     NaN      NaN         0.30
7200  83_4003     20200430_210627_0f02     NaN      NaN         0.30
7201  83_4003     20170512_175729_1004     NaN      NaN         0.30

[7202 rows x 5 columns]

In [14]:
labels = labels.reset_index(drop = True)

In [15]:
full_site_index = []

for i in range(labels.shape[0]):
  site_loc = labels["id"][i].split('_')
  full_loc = int(6*1e7 + int(site_loc[0])*1e4 + int(site_loc[1]))
  full_site_index.append(full_loc)

In [16]:
labels["full_site"] = full_site_index

In [17]:
labels["src_directory"] = "county_site"

In [18]:
labels

           id                     file  ...  full_site src_directory
0     59_5001  20190405_185026_37_106c  ...   60595001   county_site
1     59_5001     20181014_180625_1014  ...   60595001   county_site
2     59_5001  20190902_184228_93_1067  ...   60595001   county_site
3     59_5001     20181007_180623_1005  ...   60595001   county_site
4     59_5001  20200517_182913_87_1067  ...   60595001   county_site
...       ...                      ...  ...        ...           ...
7197  83_4003     20170615_175821_1010  ...   60834003   county_site
7198  83_4003  20190516_185741_85_106e  ...   60834003   county_site
7199  83_4003     20191102_181448_0e20  ...   60834003   county_site
7200  83_4003     20200430_210627_0f02  ...   60834003   county_site
7201  83_4003     20170512_175729_1004  ...   60834003   county_site

[7202 rows x 7 columns]

In [ ]:
def convert_sites_to_full_sites(df, site_indices):
  site_id = [int(site[-4:]) for site in site_indices]
  site_mapper = pd.DataFrame({'full_site': site_indices, 'site': site_id})
  df = pd.merge(df, site_mapper, how = 'left', on = ['site'])
  return df

In [ ]:
site_indices = ['60370002',
                '60370016',
                '60370113',
                '60371103',
                '60371302',
                '60371602',
                '60371701',
                '60372005',
                '60374002',
                '60375005',
                '60590007',
                '60595001',
                '60650003',
                '60658001',
                '60658005',
                '60710005',
                '60710012',
                '60710027',
                '60711004',
                '60712002',
                '60714001',
                '60714003',
                '60718001',
                '60719004',
                '60719010']

site_indices_2 = ['60592022',
                  '60650009',
                  '60650010',
                  '60650016',
                  '60650500',
                  '60651010',
                  '60651016',
                  '60655001',
                  '60656001',
                  '60659000',
                  '60659001',
                  '60719002',
                  '60731008',
                  '60731201',
                  '60371201',
                  '60376012',
                  '60830011',
                  '60831013',
                  '60831014',
                  '60831018',
                  '60831021',
                  '60831025',
                  '60832004',
                  '60832011',
                  '60833001',
                  '60834003',
                  '60839000',
                  '61110007',
                  '61110009',
                  '61111004',
                  '61112002',
                  '61113001']

all_indices = site_indices + site_indices_2

In [ ]:
cloudy_labels = convert_sites_to_full_sites(cloudy_labels, all_indices)

In [ ]:
cloudy_labels = cloudy_labels[["full_site", "cloud_cover"]]

In [19]:
labels["full_site"] = labels["full_site"].astype(str)

In [20]:
import collections
collections.Counter(labels.src_directory)

Counter({'county_site': 7202})

In [21]:
labels.to_csv(os.path.join(project_root_dir, 'img_data', 'file_to_site_mapping.csv'), index = False)